button {
  border: none;
  margin: 0 0 0 10px;
  padding: 7px 10px;
  text-align: end;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
}

.yellow {
  background: #fff70d;
  color: #000;
  font-weight: bold;
}
.yellow:hover {
  opacity: 0.8;
  transition: 200ms;
}
.ghost {
  background: none;
  border: 1px white solid;
}

button .font {
  font-size: 15px;
  margin: 0 5px;
}
button:hover {
  cursor: pointer;
}
